/* Define brand colors */
:root {
  --color-cucumber-green-pale: #39b54a;
  --color-cucumber-green-bold: #00a818;
  --color-slate-50: oklch(98.4% 0.003 247.858);
  --color-slate-100: oklch(96.8% 0.007 247.896);
  --color-slate-200: oklch(92.9% 0.013 255.508);
  --color-slate-300: oklch(86.9% 0.022 252.894);
  --color-slate-400: oklch(70.4% 0.04 256.788);
  --color-slate-500: oklch(55.4% 0.046 257.417);
  --color-slate-600: oklch(44.6% 0.043 257.281);
  --color-slate-700: oklch(37.2% 0.044 257.287);
  --color-slate-800: oklch(27.9% 0.041 260.031);
  --color-slate-900: oklch(20.8% 0.042 265.755);
  --color-slate-950: oklch(12.9% 0.042 264.695);
}

/* Infima light theme */
:root {
  --ifm-background-color: white;
  --ifm-color-primary-lightest: #{lighten(#39b54a, 10%)};
  --ifm-color-primary-lighter: #39b54a;
  --ifm-color-primary-light: #39b54a;
  --ifm-color-primary: #00a818;
  --ifm-color-primary-dark: #{darken(#39b54a, 10%)};
  --ifm-color-primary-darker: #{darken(#39b54a, 10%)};
  --ifm-color-primary-darkest: #{darken(#39b54a, 20%)};
  --ifm-color-secondary-lightest: var(--color-slate-50);
  --ifm-color-secondary-lighter: var(--color-slate-100);
  --ifm-color-secondary-light: var(--color-slate-100);
  --ifm-color-secondary: var(--color-slate-200);
  --ifm-color-secondary-dark: var(--color-slate-300);
  --ifm-color-secondary-darker: var(--color-slate-300);
  --ifm-color-secondary-darkest: var(--color-slate-400);
  --ifm-hero-background-color: var(--ifm-color-secondary-lightest);
  --ifm-footer-background-color: var(--ifm-color-secondary-lightest);
  --ifm-font-family-base: 'Lato', 'Inter var', ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --ifm-font-family-monospace: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* Infima dark theme */
[data-theme='dark'] {
  --ifm-hero-background-color: var(--ifm-navbar-background-color);
  --ifm-footer-background-color: var(--ifm-navbar-background-color);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Typographic tweaks to standard Infima hero component */
.hero__title {
  font-weight: 300;
  font-size: 3.5rem;
  line-height: 1em;
  text-wrap: balance;
}

.hero__subtitle {
  line-height: 1.25em;
}

/* Typographic tweaks to standard Infima footer component */
.footer__copyright {
  font-size: 0.75rem;
  line-height: 1em;
}

/* Custom green/white style for announcement banner */
[class^='announcementBar'] {
  background: repeating-linear-gradient(
    135deg,
    #39b54a,
    #39b54a 10px,
    darken(#39b54a, 5%) 10px,
    darken(#39b54a, 5%) 20px
  );
  color: white !important;
  font-weight: bold;
}

/* GitHub link icon (as copied from Docusaurus) */
.header-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background-color: var(--ifm-navbar-link-color);
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
  transition: background-color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

.header-github-link:hover::before {
  background-color: var(--ifm-navbar-link-hover-color);
}

/*
Nasty hack to avoid showing a long sidebar for the installation category. This way,
the sidebar items are still generated and can be used to populate the index page.
 */
.closed-category-hack {
  .menu__caret,
  .menu__list {
    display: none !important;
  }
}

/*
Set the width of nav bar and docs layout to be based on the standard container width,
adjusting for padding. This matches what the blog and our custom page layouts already do.
 */
@media all and (min-width: 997px) {
  .navbar__inner {
    max-width: calc(var(--ifm-container-width) - (var(--ifm-spacing-horizontal) * 2));
    margin-left: auto;
    margin-right: auto;
  }

  [class^='docsWrapper'] {
    width: min(var(--ifm-container-width), 100%);
    margin-left: auto;
    margin-right: auto;
  }
}

/*
At the wider breakpoint for the Infima container, re-declare the widths.
 */
@media (min-width: 1440px) {
  .navbar__inner {
    max-width: calc(var(--ifm-container-width-xl) - (var(--ifm-spacing-horizontal) * 2));
  }

  [class^='docsWrapper'] {
    width: min(var(--ifm-container-width-xl), 100%);
  }
}

/* Utility class to fix alignment in flex containers */
.items-center {
  align-items: center;
}

/* Utility class for reasonable-width centered text */
.readable {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}
